html,
body {
    height: 100%;
}
/*test*/
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 0 15px;
}
.container {
    background-color: #fff;
}
.footer .container {
    background-color: transparent;
}

.footer {
    height: 60px;
    background-color: #303030;
    border-top: 1px solid #ddd;
    color: #848484;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.top_menu {
    float: right;
}

.top_menu li {
    display: inline;
}

.top_menu_container {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 5px;
    padding-top: 16px;
}

.top_menu a {
    color: #b9b9b9;
    font-size: 13px;
    padding: 18px 13px;
    text-decoration: none;
}

.top_menu a:hover {
     background-color: #eee;
 }

.top_menu a:focus {
    background-color: #eee;
}

.slogan {
    color: #8b8b8b;
    float: left;
    font-family: Arial;
    font-size: 13px;
    font-weight: 600;
    margin-left: 220px;
}

.logo {
    height: 179px;
    margin-top: -150px;
    overflow: hidden;
    position: absolute;
}
.main_menu {
    font-size: 15px;
    margin-left: 180px;
    margin-top: 13px;
}

.main_menu > li {
    display: inline;
}

.main_menu a {
    border-radius: 4px;
    color: #363636;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
}


.main_menu a:hover {
    color: #44afc6;
}

.dropdown {
    cursor: pointer;
    font-weight: bold;
}

.dropdown:focus {
    background-color: #eee;
}

.dropdown-menu {
    margin-top: 15px;
}

.navbar_hidden {
    display: none;
}

section#content {
    background-color: #f9f9f9;
    border-top: 1px solid #f1f1f1;
    margin-top: 5px;
    padding-bottom: 33px;
}
.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
    padding: 8px 0;
}
.bread_container{background-color: transparent;padding: 0;}

.slider_container {
    margin-top: 40px;
}

.bx-prev {
    background: url("../images/left_arrow.png") no-repeat scroll 0 0 transparent;
}

.bx-next {
    background: url("../images/right_arrow.png") no-repeat scroll 0 0 transparent;
}

.bx-wrapper .bx-controls-direction a {
    height: 40px;
}

.bx-controls-direction {
    opacity: 0;
}

.bx-prev {
    margin-left: 20px;
}

.bx-next {
    margin-right: 20px;
}

.bx-wrapper .bx-next:hover {
    background-position: 0 0;
}

.slider_text_container {
    background-color: black;
    border-top: 3px solid #44afc6;
    color: #fff;
    font-weight: bold;
    margin-top: -100px;
    opacity: 0.7;
    padding: 10px;
    position: absolute;
    right: 0;
    width: 500px;
}

section#content .white {
    background: #fff none repeat scroll 0 0;
    min-height: 50px;
}

.box {
    float: left;
    padding: 25px 30px 10px;
    position: relative;
    width: 100%;
}

.box h3 {
    border-left: 7px solid #44afc6;
    color: #969696;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7;
    margin: 0 0 20px -30px;
    padding-left: 23px;
    text-transform: uppercase;
}

section#content .grey {
    background: #f1f1f1 none repeat scroll 0 0;
    min-height: 50px;
}

.grey .list1, .grey .list2 {
    list-style: outside none none;
    padding: 0;
}

.grey .list1 li, .grey .list2 li {
    border-bottom: 1px solid #e0e0e0;
    display: block;
    min-height: 43px;
    padding-top: 12px;
    text-transform: none;
}

.grey .list1 li a, .grey .list2 li a {
    color: #676767;
}

.green-box {
    background: #5dca9d none repeat scroll 0 0;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 20px 20px 60px;
    position: relative;
    text-transform: uppercase;
}

.green-box a {
    color: #fff7e3;
    text-decoration: none;
}

.green-box .fa {
    color: #000;
    font-size: 36px;
    left: 15px;
    opacity: 0.5;
    position: absolute;
}

.col-md-4 {
    padding-left: 0;
    padding-right: 0;
}

section#social {
    background: #fff none repeat scroll 0 0;
    padding: 30px 0 20px;
    display: block;
}

.site-index #login-form .form-horizontal.form-group {
    margin-left: 0;
    margin-right: 0;
}

.site-index .field-loginform-username {
    float: left;
    width: 150px;
}

.site-index .field-loginform-password {
    float: left;
    margin-left: 5px;
    width: 150px;
}

.clear {
    clear: both;
}

.index-login .register {
    display: inline-block;
    font-size: 13px;
}

.index-login .forgot_password {
    color: #959595;
    display: inline-block;
    font-size: 13px;
}

#login-form .btn_login {
    margin-left: 10px;
    background-color: #44afc6;
    border-color: #44afc6;
}
.index-social-login{text-decoration: none !important; margin: 0 4px;}
.detail-view{max-width:500px; background-color: #f6f6f6;}
.offset-button{padding-left:5px;}
.help-block {margin-bottom: 0;}
.comment-wrap{clear:both;}
.comment-col{ margin-top: 2px;}
.comment-name{font-weight: bold;}
.comment-date{color: #777;
    display: inline-block;
    font-size: 12px;
    line-height: 21px;
    margin-left: 15px;}
a:focus {
    outline: 0;
}
.field140{max-width:140px;}
.mt10{margin-top: 10px;}